<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- CSRF Token -->
        <meta name="csrf-token" content="" />
        <title>Quransunnah-Foundation</title>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="Baticrom Halal Shop" />
        <meta property="og:description" content="Established Business in 1992, BATICROM FOODS is the first online seller of quality Halal foods in Japan. We supply across Japan to Shops, Restaurants and Individuals." />
        <meta property="og:image" content="https://baticrom.com/public/medies/Apr_2022/1649567741.625267fd462f6.png" />
        <meta property="og:url" content="https://baticrom.com" />
        <!-- Google Font CDN-->
        <link href="https://fonts.googleapis.com/css?family=Source Code Pro" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet" />

        <!-- Bootstrap CS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

        <!-- Font Awesome CSS CDN-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <!-- Slick Slider CSS CDN-->
        <link rel="stylesheet" type="text/css" href="css/slick.css" />
        <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" />

        <!-- Matis Menus CSS -->
        <link rel="stylesheet" href="css/metisMenu.css" />
        <!-- Custom Css for this Design -->
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>

      <!-- header part start -->
      <header>
           <div class="headerTopPart">
                <div class="container">
                      <div class="row">
                            <div class="col-md-9 col-3"></div>
                            <div class="col-md-3 col-9">
                                  <div class="socialLick">
                                      <ul>
                                          <li>
                                              <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                          </li>
                                          <li>
                                              <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                          </li>
                                          <li>
                                              <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                          </li>
                                          <li>
                                              <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                          </li>
                                          <li class="language">
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                              <label class="btn btn-outline-primary" for="btnradio1">EN</label>
                                            
                                              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                              <label class="btn btn-outline-primary" for="btnradio2">বাংলা</label>
                                            </div>
                                          </li>
                                      </ul>
                                  </div>
                                  
                            </div>
                      </div>
                </div>
           </div>
           <div class="headerMidilPart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-5">
                            <div class="headerLogo">
                              <i class="fa fa-bars" aria-hidden="true" onclick="openNav()"></i>
                                <a href="#">
                                    <img src="images/logo.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-1"></div>
                        <div class="col-md-3 col-6">
                              <div class="headerButton">
                                    <a href="#">আমার একাউন্ট</a>
                                    <a href="#">দান করুন</a>
                              </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="headerNav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navList">
                                <ul>
                                  <li>
                                      <a href="#">হোম</a>
                                  </li>
                                  <li>
                                      <a href="#">আমাদের সম্পর্কে</a>
                                  </li>
                                  <li>
                                      <a href="#">আমাদের কার্যক্রম</a>
                                  </li>
                                  <li>
                                      <a href="#">আজীবন ও দাতা সদস্য</a>
                                  </li>
                                  <li>
                                      <a href="#">গ্যালারী</a>
                                  </li>
                                  <li>
                                      <a href="#">ভিডিও</a>
                                  </li>
                                  <li>
                                      <a href="#">স্বেচ্ছাসেবক নিবন্ধন</a>
                                  </li>
                                  <li>
                                      <a href="#">সংবাদ</a>
                                  </li>
                                  <li>
                                      <a href="#">যোগাযোগ</a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
      </header>
      <!-- header part start -->

       <!-- mobile menu start -->
       <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>
      </div>
       <!-- mobile menu start -->

      <!-- donation part start -->
       <div class="donationPartMain">
          <div class="container">
              <form class="danationForm">
                  <div class="row">
                        <div class="col-md-3">
                          <select class="form-select form-control" aria-label="Default select example">
                            <option selected>অনুদানের তহবিল</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <div>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ফোন / ইমেইল ">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div >
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="অনুদানের পরিমাণ">
                          </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btnDonate">দান করুন</button>
                        </div>
                       
                  </div>
              </form>

              <div class="bannerPart">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="images/slide-00002.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="images/slide-00003.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="images/slide-00002.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <!-- donation part end -->

      <!-- home page about part start -->
       <div class="homePageAboutPart">
          <div class="container">
              <div class="row">
                  <div class="col-md-5">
                        <div class="aboutLeftGrid">
                            <img src="images/golden-gate.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-md-7">
                        <div class="aboutRightGrid">
                            <h4>Quransunnah Foundation</h4>
                            <p>
                              আস-সুন্নাহ ফাউন্ডেশন একটি অরাজনৈতিক, অলাভজনক শিক্ষা, দাওয়াহ ও পূর্ণত
                               মানবকল্যাণে নিবেদিত সেবামূলক প্রতিষ্ঠান। এই প্রতিষ্ঠান মানবতার শিক্ষক, মানুষের
                                মুক্তি ও শান্তির দূত, মানবসেবার আদর্শ, মহানবী মুহাম্মদ সা.-এর পদাঙ্ক অনুসরণ 
                                করে আর্তমানবতার সেবা, সমাজ সংস্কার, মহত্তম নীতিচেতনার সঞ্চার, কর্মসংস্থান
                                 তৈরি, দারিদ্র্য বিমোচন, ইসলামী তমদ্দুনের প্রসার, বহুমুখী শিক্ষায়ন প্রকল্প 
                                 পরিচালনা, ত্রাণ বিতরণ, স্বল্পমূল্যে বা বিনামূল্যে স্বাস্থ্যসেবা প্রদান, পরিচ্ছন্ন 
                                 মানসিকতা গঠনে নিরন্তর নানা কর্মসূচি পালন, সর্বোপরি মৌখিক, লৈখিক ও 
                                 আধুনিক সকল প্রচারমাধ্যম ব্যবহার করে মানুষকে মহান আল্লাহর আনুগত্য ও 
                                 তাঁর রাসূলের অনুকরণে সত্য ও শান্তির পথে ডেকে এনে একটি আদর্শ 
                                 কল্যাণসমাজ বিনির্মাণে যথাশক্তি প্রচেষ্টা চালিয়ে যাচ্ছে।
                            </p>
                            <div class="history-tl-container">
                              <ul class="tl">
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">শিক্ষা</div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">সেবা</div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">দা‘ওয়াহ</div>
                                </li>
                              </ul>

                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- home page about part end -->

      <!-- Let's make a change together part start -->
       <div class="makeChangeTogetherPart">
            <div class="container">
                  <h4>চলুন একসাথে একটি পরিবর্তন আনি</h4>
                  <div class="row">
                        <div class="col-md-4">
                              <a href="#" class="makeChangeTogetherPartGrid">
                                    <img src="images/zakat.jpg" alt="">
                                    <div class="gridInfo">
                                      <h5>যাকাত তহবিল</h5>
                                      <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                      <button>দান করুন</button>
                                    </div> 
                              </a>
                        </div>
                        <div class="col-md-4">
                              <a href="#" class="makeChangeTogetherPartGrid">
                                    <img src="images/monthly.jpg" alt="">
                                    <div class="gridInfo">
                                      <h5>মাসিক অনুদান তহবিল</h5>
                                      <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                      <button>দান করুন</button>
                                    </div> 
                              </a>
                        </div>
                        <div class="col-md-4">
                              <a href="#" class="makeChangeTogetherPartGrid">
                                <img src="images/zakat.jpg" alt="">
                                <div class="gridInfo">
                                  <h5>যাকাত তহবিল</h5>
                                  <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                  <button>দান করুন</button>
                                </div> 
                              </a>
                        </div>
                        <div class="col-md-4">
                              <a href="#" class="makeChangeTogetherPartGrid">
                                    <img src="images/zakat.jpg" alt="">
                                    <div class="gridInfo">
                                      <h5>যাকাত তহবিল</h5>
                                      <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                      <button>দান করুন</button>
                                    </div> 
                              </a>
                        </div>
                        <div class="col-md-4">
                              <a href="#" class="makeChangeTogetherPartGrid">
                                    <img src="images/monthly.jpg" alt="">
                                    <div class="gridInfo">
                                      <h5>মাসিক অনুদান তহবিল</h5>
                                      <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                      <button>দান করুন</button>
                                    </div> 
                              </a>
                        </div>
                        <div class="col-md-4">
                              <a href="#" class="makeChangeTogetherPartGrid">
                                <img src="images/zakat.jpg" alt="">
                                <div class="gridInfo">
                                  <h5>যাকাত তহবিল</h5>
                                  <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                  <button>দান করুন</button>
                                </div> 
                              </a>
                        </div>
                  </div>
                  <a href="#" class="readMoreBtn">আরও</a>
            </div>
      </div>
      <!-- Let's make a change together part end -->

      <!-- continew project part start -->
       <div class="continewProjectPart">
        <div class="container">
              <h4>চলমান প্রজেক্ট</h4>
              <div class="row">
                    <div class="col-md-4">
                          <a href="#" class="continewProjectPartGrid">
                                <img src="images/assunnah-project-3.jpg" alt="">
                                <div class="gridInfo">
                                  <h5>ওয়েব ডেভলপমেন্ট কোর্স</h5>
                                  <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                </div> 
                          </a>
                    </div>
                    <div class="col-md-4">
                          <a href="#" class="continewProjectPartGrid">
                                <img src="images/assunnah-project-smart-tailoring-fashion-design.jpeg" alt="">
                                <div class="gridInfo">
                                  <h5>স্মার্ট টেইলারিং অ্যান্ড ফ্যাশন ডিজাইন প্রশিক্ষণ</h5>
                                  <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                                </div> 
                          </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#" class="continewProjectPartGrid">
                            <img src="images/assunnah-project-3.jpg" alt="">
                            <div class="gridInfo">
                              <h5>ওয়েব ডেভলপমেন্ট কোর্স</h5>
                              <p>দেশ, জাতি ও উম্মাহর কল্যাণার্থে পরিচালিত আস-সুন্নাহ ফাউন্ডেশনের নানামুখী কার্যক্রমের কেন্দ্রবিন্দু হবে আস-সুন্নাহ ফাউন্ডেশন মসজিদ কমপ্লেক্স। এই কমপ্লেক্সে একটি আদর্শ মসজিদ এবং যুগ-চাহিদা পূরণে উপযোগী ইসলামিক স্কলার তৈরির লক্ষ্যে সমন্বিত সিলেবাসের একটি আধুনিক মাদরাসাসহ বিভন্ন সেবা ও জনকল্যাণমূলক প্রকল্প পরিচালনার কেন্দ্র হবে ইন-শা-আল্লাহ।</p>
                            </div> 
                      </a>
                </div>
              </div>
        </div>
      </div>
      <!-- continew project part end -->

      <!-- Latest news part start -->
       <div class="latestNewsPart">
          <div class="container">
              <h4>সাম্প্রতিক সংবাদ</h4>
              <div class="row">
                  <div class="col-md-4">
                      <a href="#" class="latestNewsGrid">
                          <img src="images/member-conference-2024-1.jpeg" alt="">
                          <span>২৯/২/২০২৪, ১১:৪২:৫৪ AM</span>
                          <p>
                            সদস্য সম্মেলন ২০২৪ ও মসজিদ কমপ্লেক্সের ভিত্তিপ্রস্তর স্থাপন
                          </p>
                      </a>
                  </div>
                  <div class="col-md-4">
                      <a href="#" class="latestNewsGrid">
                          <img src="images/member-conference-2024-1.jpeg" alt="">
                          <span>২৯/২/২০২৪, ১১:৪২:৫৪ AM</span>
                          <p>
                            সদস্য সম্মেলন ২০২৪ ও মসজিদ কমপ্লেক্সের ভিত্তিপ্রস্তর স্থাপন
                          </p>
                      </a>
                  </div>
                  <div class="col-md-4">
                      <a href="#" class="latestNewsGrid">
                          <img src="images/member-conference-2024-1.jpeg" alt="">
                          <span>২৯/২/২০২৪, ১১:৪২:৫৪ AM</span>
                          <p>
                            সদস্য সম্মেলন ২০২৪ ও মসজিদ কমপ্লেক্সের ভিত্তিপ্রস্তর স্থাপন
                          </p>
                      </a>
                  </div>
              </div>
              <a href="#" class="readMoreBtn">আরও</a>
          </div>
      </div>
      <!-- Latest news part end -->

      <!-- Our activities part start -->
      <div class="ourActivitiesPart">
          <div class="container">
              <h4>আমাদের কার্যক্রম</h4>
              <div class="row">
                    <div class="col-md-4">
                          <div class="ourActivitiesGrid">
                               <h2>যাকাতের অর্থে স্বাবলম্বীকরণ প্রকল্প</h2>
                               <p>আস-সুন্নাহ ফাউন্ডেশন কুরআন ও সুন্নাহর এ বিধান বাস্তবায়নকল্পে ‘আর্থসামাজিক উন্নয়ন ও সবার জন্য শিক্ষা’ এই শ্লোগান ধারণ করে শিক্ষামূলক বিভিন্ন কার্যকর উদ্যোগ গ্রহণ করেছে।</p>
                               <a href="#">বিস্তারিত দেখুন</a>
                          </div>
                    </div>
                    <div class="col-md-4">
                          <div class="ourActivitiesGrid" style="background-color:  #0099a5;">
                               <h2>যাকাতের অর্থে স্বাবলম্বীকরণ প্রকল্প</h2>
                               <p>আস-সুন্নাহ ফাউন্ডেশন কুরআন ও সুন্নাহর এ বিধান বাস্তবায়নকল্পে ‘আর্থসামাজিক উন্নয়ন ও সবার জন্য শিক্ষা’ এই শ্লোগান ধারণ করে শিক্ষামূলক বিভিন্ন কার্যকর উদ্যোগ গ্রহণ করেছে।</p>
                               <a href="#">বিস্তারিত দেখুন</a>
                          </div>
                    </div>
                    <div class="col-md-4">
                          <div class="ourActivitiesGrid" style="background-color:  #0099a5;">
                               <h2>যাকাতের অর্থে স্বাবলম্বীকরণ প্রকল্প</h2>
                               <p>আস-সুন্নাহ ফাউন্ডেশন কুরআন ও সুন্নাহর এ বিধান বাস্তবায়নকল্পে ‘আর্থসামাজিক উন্নয়ন ও সবার জন্য শিক্ষা’ এই শ্লোগান ধারণ করে শিক্ষামূলক বিভিন্ন কার্যকর উদ্যোগ গ্রহণ করেছে।</p>
                               <a href="#">বিস্তারিত দেখুন</a>
                          </div>
                    </div>
              </div>
              <a href="#" class="readMoreBtn">আরও</a>
          </div>
      </div>
      <!-- Our activities part end -->

      <!-- Report part start -->
      <div class="reportPart">
          <div class="container">
              <h4>প্রতিবেদন</h4>
              <div class="row">
                  <div class="col-md-4">
                       <div class="reportGrid">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wKV4pZrep6E?si=ht2WHBGiWGCSa5tn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>প্রথম বারের মতো অর্ধলক্ষাধিক শীতবস্ত্র বিতরণ</p>
                       </div>
                  </div>
                  <div class="col-md-4">
                       <div class="reportGrid">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wKV4pZrep6E?si=ht2WHBGiWGCSa5tn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>প্রথম বারের মতো অর্ধলক্ষাধিক শীতবস্ত্র বিতরণ</p>
                       </div>
                  </div>
                  <div class="col-md-4">
                       <div class="reportGrid">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wKV4pZrep6E?si=ht2WHBGiWGCSa5tn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>প্রথম বারের মতো অর্ধলক্ষাধিক শীতবস্ত্র বিতরণ</p>
                       </div>
                  </div>
              </div>
              <a href="#" class="readMoreBtn">আরও</a>
          </div>
      </div>
      <!-- Report part end -->

      <!-- gallery part start -->
      <div class="galleryPart">
           <div class="container">
                <h4>গ্যালারী</h4>
                 <div class="row">
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/iftar_gallery_4.jpg" alt="">
                            </a>
                      </div>
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/van_distribution_gallery_4.jpg" alt="">
                            </a>
                      </div>
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/iftar_gallery_4.jpg" alt="">
                            </a>
                      </div>
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/van_distribution_gallery_4.jpg" alt="">
                            </a>
                      </div>
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/iftar_gallery_4.jpg" alt="">
                            </a>
                      </div>
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/van_distribution_gallery_4.jpg" alt="">
                            </a>
                      </div>
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/iftar_gallery_4.jpg" alt="">
                            </a>
                      </div>
                      <div class="col-md-3">
                            <a href="#" class="galleryGrid">
                                  <img src="images/van_distribution_gallery_4.jpg" alt="">
                            </a>
                      </div>
                 </div>
                 <a href="#" class="readMoreBtn">আরও</a>
           </div>
      </div>
      <!-- gallery part end -->


      <!-- footer part css start -->
      <footer>
          <hr>
          <div class="footerPart">
              <p>ত্ব © 2024 <span>Quransunnah Foundation</span> - সর্ব স্বত্ব সংরক্ষিত। কারিগরি সহায়তায়  <a href="#">Natore-IT</a> <br> পরিষেবার শর্তাবলী | গোপনীয়তা নীতি</p>
             
          </div>
      </footer>
      <!-- footer part css end -->
     

        <!-- Jquery Script  CDN-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap Script  CDN-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- Metis Menus Script -->
        <script src="js/metisMenu.min.js"></script>

        <!-- Sweet Alert CDN -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <!-- Slick slider CDN -->
        <script type="text/javascript" src="js/slick.min.js"></script>

        <!--iconify Script CDN-->
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

        <!-- Custom Script for this Design -->
        <script src="js/myScript.js"></script>
    </body>
</html>
